.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-check {
	font-size:(6/10)*1rem;
	width:(7/6)*1em;
}
.icon-chevron-right {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-ellipsis-h-solid {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-horizontal {
	font-size:(12/10)*1rem;
	width:(14/12)*1em;
}
.icon-menu-0 {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-menu-1 {
	font-size:(15/10)*1rem;
	width:(8/15)*1em;
}
.icon-menu-2 {
	font-size:(15/10)*1rem;
	width:(12/15)*1em;
}
.icon-menu-3 {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-menu-4 {
	font-size:(15/10)*1rem;
	width:(13/15)*1em;
}
.icon-menu-5 {
	font-size:(18/10)*1rem;
	width:(15/18)*1em;
}
.icon-search {
	font-size:(57/10)*1rem;
	width:(57/57)*1em;
}
.icon-settings {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-vertical {
	font-size:(14/10)*1rem;
	width:(12/14)*1em;
}
